<!DOCTYPE html>
<html>
<head>
  <title>News indexificator</title>
</head>
<body>
<h1>What would you like to read about today?</h1>
<form action="/" method="GET">
  <input type="text" id="search" name='q' value="">
</form>
<% unless @stories.nil? %>
  <% @stories.each do |story| %>
    <div class='story'>
      <% puts story %>
      <h2><%= story[:title] %></h2>
    </div>
  <% end %>
<% end %>
</body>
</html>
